.person__img {
  display: inline-block;
  vertical-align: baseline;
  max-width: 354px;
  height: 240px;
}

.person__name {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.person__text {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@include breakpoint-down (1024) {
  .person__img {
    max-width: 305px;
  }
}